#game-rules{
  padding: 15px;
  border: 2px solid lightgrey;
}
#game-number{
  margin-top: 80px;
  padding: 15px;
  border: 2px solid lightgrey;
}
#game{
  margin-top: -25px;
  padding: 5px;
}
.crystals{
  margin-top: 20px;
  background: #000;
}
.gem{
  margin: 3px;
  width: 200px;
  height: auto;
}
.red-gem{
  width: 110px;
}
